.fullBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 900px;
}

.upperBody {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
